<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title>Edu - @ViewData["Title"]</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Lib CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/aos/css/aos.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/lib/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a asp-controller="home" asp-action="index">Edu</a></h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="@Html.Raw(ViewData["Active"] == "1" ? "active" : "")" asp-controller="home" asp-action="index">Trang chủ</a></li>
                    <li><a class="@Html.Raw(ViewData["Active"] == "2" ? "active" : "")" asp-controller="about" asp-action="index">Giới thiệu</a></li>
                    <li><a class="@Html.Raw(ViewData["Active"] == "3" ? "active" : "")" asp-controller="news" asp-action="index">Tin tức</a></li>
                    <li><a class="@Html.Raw(ViewData["Active"] == "4" ? "active" : "")" asp-controller="contact" asp-action="index">Liên hệ</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <a class="get-started-btn" asp-controller="home" asp-action="index">Bắt đầu</a>
        </div>
    </header>

    <!-- Main -->
    <main id="main">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Edu</h3>
                        <p>
                            4 Lê Quý Đôn, Kp3,  <br />
                            Thành phố Biên Hòa,<br />
                            Đồng Nai <br /><br />
                            <strong>Phone:</strong>0251 3824 684<br />
                            <strong>Email:</strong>lienhe@dnpu.edu.vn<br />
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Liên kết</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a asp-controller="home" asp-action="index">Trang chủ</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a asp-controller="about" asp-action="index">Giới thiệu</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a asp-controller="news" asp-action="index">Tin tức</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a asp-controller="contact" asp-action="index">Liên hệ</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Ngành nghề hot</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Web Development</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Product Management</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Graphic Design</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Nhận ngay thông báo</h4>
                        <p>
                            Cập nhập ngay nhũng tin tức mới nhất về chúng tôi
                        </p>
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Nhập email của bạn" /><input type="submit" value="Đăng ký" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-md-flex align-items-center justify-content-center py-4">
            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Edu</span></strong>. All Rights Reserved
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer>

    <!-- Loading -->
    <div id="preloader"></div>
    <a href="#"
       class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Lib JS Files -->
    <script src="~/lib/purecounter/purecounter_vanilla.js"></script>
    <script src="~/lib/aos/js/aos.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
</body>
</html>
