@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Education.Models.NewsItemModel>

@{
    ViewData["Title"] = "Tin tức";
    ViewData["Active"] = "2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">@ViewData["Title"]</h3>
                    <h6 class="font-weight-normal mb-4"><span class="text-primary">Mô tả chi tiết về tin tức</span></h6>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Ảnh
                                            </th>
                                            <th>
                                                Tiêu đề
                                            </th>
                                            <th>
                                                Độ hot
                                            </th>
                                            <th>
                                                Mô tả
                                            </th>
                                            <th>
                                                Ngày đăng
                                            </th>
                                            <th>
                                                Chức năng
                                            </th>
                                        </tr>
                                    </thead>
                                    @if (Model != null && Model.Any())
                                    {
                                        var i = 1;
                                        <tbody>
                                            @foreach (var newsItem in Model)
                                            {
                                                <tr>
                                                    <td class="py-1">
                                                        @i
                                                    </td>
                                                    <td class="py-1">
                                                        @if (newsItem.ImageObj != null && newsItem?.ImageObj?.RelativeUrl != null)
                                                        {
                                                            <img class="img-fluid"
                                                                 src="@newsItem.ImageObj.RelativeUrl"
                                                                 alt="" />
                                                        }
                                                        else
                                                        {
                                                           <div>--</div>
                                                        }
                                                    </td>
                                                    <td class="limited-text">
                                                        @(newsItem?.Name != null ? newsItem?.Name : "--")
                                                    </td>
                                                    <td>
                                                        @(newsItem?.IsHot != null ? @Html.Raw("<label class='badge badge-danger'>Hot</label>") : "Không")
                                                    </td>
                                                    <td class="limited-text">
                                                        @(newsItem?.Description != null ? newsItem?.Description : "--")
                                                    </td>
                                                    <td>
                                                        @(newsItem?.PublishedAt != null ? newsItem?.PublishedAt : "--")
                                                    </td>
                                                    <td>
                                                        <a asp-area="admin" asp-controller="news" asp-action="edit" asp-route-id="@newsItem?.Id" class="btn btn-info">
                                                            <i class="ti-pencil icon-sm"></i>
                                                        </a>
                                                        <a asp-area="admin" asp-controller="news" asp-action="deleteNews" asp-route-id="@newsItem?.Id" class="btn btn-danger">
                                                            <i class="ti-trash icon-sm"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    }
                                    else
                                    {
                                        <tbody>
                                            <tr>
                                                <td colspan="7" class="text-center">Không có dữ liệu</td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model != null && Model.Any())
                {
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                        <a class="page-link" asp-area="admin" asp-controller="news" asp-action="index" asp-route-page="@(Model.PageNumber - 1)">&laquo;</a>
                                    </li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                            <a class="page-link" asp-area="admin" asp-controller="news" asp-action="index" asp-route-page="@i">@i</a>
                                        </li>
                                    }
                                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                        <a class="page-link" asp-area="admin" asp-controller="news" asp-action="index" asp-route-page="@(Model.PageNumber + 1)">&raquo;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>